* {
    margin: 0; 
    padding: 0;
}

html{
    font-family: sans-serif;
}
.conteiner, .conteinerContact{
    max-width: 1140px;
    margin: 0 auto;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.topContact{
    height: 293px;
    
}
.centerInfoContact{
    width: 301px;
    height: 668px;
    margin-top: 114px;
}
.miniHeadingAddress{
    margin-top: 56px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.centerContactText{
    margin-top: 24px;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}
.miniHeadingPhone{
    margin-top: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.textNumber{
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 24px;
}
.imgNumber{
    margin-right: 19px;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
}
.site{
    float: left;
    text-align: left;
    padding-top: 24px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.imgSite{
    margin-right: 18px;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}
.email{
    float: left;
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.imgEmail{
    margin-right: 18px;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
}
.miniHeadingOnline{
    margin-top: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.centerFormContact{
    width: 540px;
    height: 800px;  
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.iconMenu{

}
.iconMenuContact{
    padding-bottom: 30px;
}
.center{
    padding-top: 64px;
}
.centerItemBottom{
    display: flex;    
    justify-content: space-between;
    margin-bottom: 112px;

}
.centerCardObject{
    max-width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;    
    list-style-type: none;
}
.centerCardObjectImg1{
    margin-top: 43.9px;
    margin-bottom: 51.38px;
    margin-left: 69.91px;
    box-sizing: border-box;
}
.centerItemBox{
    padding-top: 32px;
    margin-right: 32px;
    position: relative;
    flex-grow: 1;
}
.centerItemBoxContact{
    padding-top: 32px;
    position: relative;
    flex-grow: 1;
}
.centerCardObjectImg2{
    margin-top: 14.03px;
    margin-bottom: 44.71px;
    margin-left: 73.48px;
    box-sizing: border-box;
}
.centerCardObjectImg3{
    margin-top: 48.52px;
    margin-bottom: 48.08px;
    margin-left: 94.47px;
    box-sizing: border-box;
}
.centerItemText{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}
.centerItemTextBottom{
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;
}
.headingTopContact{
    position: absolute;
    top: 20%;
    left: 454px;
    bottom: 16px;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.headingTopTextContact{
    position: absolute;
    top: 50%;
    left: 180px;
    right: 180px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.centerItemBottom{
    display: flex;
    position: relative;

}
.centerItemText1{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.centerItemText2{
    position: absolute;
    top: 32px;
    right: 264px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.centerCardText{
    padding-left: 32px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.centerCardObjectButtom{
    padding-left: 32px;
    padding-bottom: 44px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.centerCardHeading{
    padding-left: 32px;
}
.what-we-do{
    justify-content: space-between;
    display: flex;
    padding-top: 64px;
}
.centerBottomHeading{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.centerItemImg{
    width: 100%;
}
.centerItemText{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.centerBottom{
    padding-top: 63.87px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}
.centerBottomText{
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;    
}
.footer{
    text-align: center;
    max-height: 657px;
    background: #316099;
}
.footerTopСontent{
    text-align: left;
    max-width: 495px;
}
.textFooterTop{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 96px;

}
.footerTop{
    display: flex;
    
}
.headingFooterTop{
    font-size: 36px;
    text-align: left;
    padding: 91px 0px 32px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footerTopButton{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 80px;
    background: #5A98D0;
    margin: 165px 0px 170px 407px;
}
.footerHr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.conteinerContact{
    text-align: center;
}
.headerContactImg{
    width: 100%;   
}
.centerContact{
    display: flex; 
    justify-content: space-between;
    margin-top: 86px; 
}
.centerMapContact{
    height: 480px;
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
}
.headingFooterTopContent{
    max-width: 340px;
    text-align: left;
}
.footerInfo{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 64px;
}
.footerInfoLink{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footerBottom{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: left;
}
.headingTop{
    max-width: 504px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.headerBottomFonts{
    display: flex;
    justify-content: space-between;
    max-height: 768px;

}
.header{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 42px;    
    list-style-type: none;
    
}
.fontsHeader{
    padding-top: 11%;
}

.headingTopText{
    max-width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding-top: 32px;
    flex-wrap: wrap;

}
.topButton{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}  
h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.centerCardObject{
    max-width:  359px;
    height: 480px;
}
.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.miniHeading{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}   
.centerFormContactTextHeader{
    display: inline-block;
    margin-top: 56px;
    margin-right: 225px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.centerFormContactText{
    display: inline-block;
    float: left;
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 56px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.pole{
    margin-left: 56px;
    margin-right: 56px;
    width: 428px;
    height: 72px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.centerFormContactMessage{
    width: 428px;
    height: 144px;
}
.button{
    margin-top: 72px;
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.headerContent{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/fontsHeader.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 33%;
}

@media (max-width: 1024px) {
    .conteiner{
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_box{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .headerContent{
        background-position: right 210px;
    }
    .what-we-do{
        flex-direction: column;
        align-items: center;
    }
    .centerCardObject{
        margin-bottom: 32px;
    }
    .centerItemBottom{
        flex-direction: column  ;
    }
    .what-we-do{
        padding-top: 32px;
    }
    .footerModile{
        padding-left: 124px;
        padding-right: 124px;
    }
    .footerTopButton{

        margin: 163px 0px 80px 0px;
        
    }
    .headingFooterTop{
        padding: 47px 0px 32px;
        margin-top: 0px;
        width: 336px;
    }
    .footerTop{
        height: 322px;
    }
    .footerInfo{
    align-items: baseline;
    text-align: left;
    flex-direction: column;
    font-size: 14px;
    }
    .headingTopContact{
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        
    }
    .headingTopTextContact{
        font-size: 20px;
        line-height: 30px;
        left: 18%;
        width: 520px;
    }

    .header{
        padding-right: 16px;
        padding-left: 16px;
    }
    .centerContact{
        flex-direction: column;
    }
    .headingTopContact{
        left: 40%;
    }
    .centerInfoContact{
        margin: 0 auto;
    }
    .centerContact{
        margin-top: 32px;
    }
    .centerFormContact{
        margin: 0 auto;
        margin-top: 64px;
    }
    .centerMapContact {
        height: 392px;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .centerItemBox{
        margin-right: 0;
    }
    .centerItemBoxContact{
        margin-right: 0;
    }
}
@media (max-width: 667px) {
    .top{
        min-height: 376px;
    }
    .conteiner{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header{
        padding-top: 24px;
    }
    .headingTop{
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        margin-top: 36px;
    }
    .headingTopText{
        width: 100%;
        text-align: center;
    }
    .headerContent{
        padding-top: 36px;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topButton{
        padding: 0 8px;
        margin-bottom: 41px;
        box-sizing: border-box;
    }
    .centerItemBottom{
        flex-direction: column;
    }
    .heading{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
    .miniHeading{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #1F3F68;
    }
    .centerBottomHeading{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
    .centerItemText{
        top: 48px;
        right: 16px;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #FFFFFF;
    }
    .centerItemTextBottom{
        top: 48px;
        left: 16px;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    .centerItemBox{
        margin-right: 0;
    }
    .centerItemBoxContact{
        margin-right: 0;
    }
    .what-we-do{
        padding-top: 32px;
    }
    .centerCardObject{
        width: 100%;
    }
    .centerBottomText {
        width: 100%;
        margin: 32px auto 32px;
    }
    .footerModile{
        padding-left: 16px;
        padding-right: 16px;
    }
    .footerTopButton{
        display: inline-block;
        margin: 0 auto;       
    }
    .headingFooterTop{
        font-size: 24px;
        line-height: 28px;
        padding: 47px 0px 32px;
        margin-top: 0px;
        width: 336px;
    }
    .footerTop{
        height: 221px;
        flex-direction: column;
    }
    .footerInfo{
        align-items: baseline;
        text-align: left;
        flex-direction: column;
        font-size: 14px;
        line-height: 19px;
      
    }
    .footerTopСontent{
        text-align: center;
    }
    .textFooterTop{
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 10px;
    }
    .headingFooterTop{
        text-align: center;
        width: fit-content;
        padding: 18px 0px 32px;
    }
    .footerModile{
        padding: 0;
    }
    .footerHr{
        margin-top: 73px;
    }
    .footer{
        max-width: 532px;
    }
    .footerBottom{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .header{
        padding-right: 16px;
        padding-left: 16px;
    }
    .centerContact{
        flex-direction: column;
    }
    .headingTopContact{
        font-size: 24px;
        line-height: 28px;
        font-size: 18px;
        line-height: 48px;
        left: 2%;
        width: 100%;
    }
    .headingTopTextContact{
        width: 64%;
        font-size: 13px;
        line-height: 13px;
    }
    .centerInfoContact{
        margin: 0 auto;
    }
    .centerContact{
        margin-top: 32px;
    }
    .centerFormContact{
        width: 100%;
        margin: 0 auto;
        margin-top: 64px;
    }
    .centerFormContactTextHeader{
        margin-right: 89px;
    }
    .pole{
        width: 271px;
    }
    .button{
        width: 271px;
    }
    .centerMapContact {
        height: 349px;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .centerFormContactText{
        margin-left: 66px;
    }
    .topContact{
        height: 250px;
    }
}